[run]
source =
    minegauler/app/
    tests/
omit =
    *venv*/**

[report]
omit =
    minegauler/highscores/mysql.py
exclude_lines =
    pass
    if __name__ == .__main__.:
    raise NotImplementedError
    return NotImplemented
    from typing(_extensions)? import
precision = 1

[html]
directory = htmlcov
