# Dev-related
__pycache__/
*venv*
build/
dist/
*.egg-info/
target/
Cargo.lock
bot/users.json

# Test-generated
coverage/
.coverage
coverage*.xml
*,cover
htmlcov/
.pytest*
.benchmarks/

# Editor-related
.idea/
.vscode/

# Ignored extensions
*.diff
*.log
*.ipynb

# Python tooling
.ipynb_checkpoints/
.mypy_cache/

LaTex/

# App-generated per-user data
minegauler/settings.cfg
minegauler/data/
minegauler/boards/_*.mgb
minegauler/highscores/
