# Dev-related
__pycache__/
*venv*
build/
dist/
*.egg-info/
target/
Cargo.lock

# Test-generated
coverage/
.coverage
coverage*.xml
*,cover
htmlcov/
.benchmarks/

# Editor-related
.idea/
.vscode/

# Ignored extensions
*.diff
*.log
*.ipynb

# Python tooling
.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/

LaTex/

# App-generated per-user data
**/bot/users.json
**/minegauler/**/settings.cfg
**/minegauler/**/data/
**/minegauler/**/boards/_*.mgb
