__pycache__/
*venv*
build/
bin/
settings.cfg
data/
LaTex/
*.diff
coverage/
.coverage
coverage.xml
*,cover
htmlcov/
.pytest*
.idea/
.vscode/
*.log
*.ipynb
.ipynb_checkpoints/
.mypy_cache/
