name: Workflow for full test matrix
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  DISPLAY: ":0"
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        # If there are issues on any specific platform/version combos...
#        exclude:
#          - os: windows-latest
#            python-version: "3.10"
    steps:
      - uses: actions/checkout@master

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python requirements
        run: |
          pip install wheel
          pip install -r requirements-dev.txt

      - name: Set up X-server (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get install -y xvfb libxkbcommon-x11-0
          Xvfb :0 &
      - name: Set up X-server (MacOS)
        if: matrix.os == 'macOS-latest'
        run: |
          brew install xquartz
          chmod go-w /Users/runner/ || chmod go-w /opt/* || true
          /usr/X11/bin/Xquartz :0 &

      - name: Run MUT
        run: python -m pytest tests/mut/

      - name: Run IT
        run: python -m pytest tests/it/
